<html>
	<head>
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>
	<body>
        {% include 'nav.html' %}

			<div class="row">	
				<div class="col-xs-4 col-md-12">
					{% for video in list_video %}
						<div ident="{{video.0}}" class="col-md-3 movie"><img src="{{video.2}}" style="width:70%;cursor:hand;" name="show" /><p>{{video.1}}</p></div>
					{%endfor%}
				</div>
			</div>
	</body>

   <script>
        <!-- play video (torrent) event -->
        $('button[name="play"]').click(function(){
            var label = $(this).attr('label');
            $('span[name="current_play"]').text(label);
            $.getJSON( "/play", {url:$(this).attr('url'), label:label});
        });
        <!-- show video (torrent) event -->
        $('.movie').click(function(){
            window.location.href=window.location.href+"movie/"+$(this).attr('ident');
        });
        $('button[name="stop"]').click(function(){
            $('span[name="current_play"]').text('');
            $.getJSON( "/stop");
        });
    </script>
</html>