<html>
    <head>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        {% include 'nav.html' %}

        <div class="container-fluid">
          <div class="row">
              <div class="col-xs-4 col-md-4"><img src="{{movie['images']['large_cover_image']}}" width="100%" /></div>
              <div class="col-xs-6 col-md-8">
                  <h1><b>{{movie["title"]}}</b></h1>
                  <h5>{{movie["year"]}}</h5>
                  <p>{{movie["description_full"]}}</p>
                  {% for t in movie['torrents'] %}
                    <button type="button" class="btn btn-success" name="play" url="{{t['url']}}">Regarder - {{t['quality']}}</button>
                  {%endfor%}
                  <select name="subt" class="subtChoice">
                    {% for l,url in list_lang %}
                      <option value="{{url}}">{{l}}</option>
                    {%endfor%}
                  </select>
              </div>
            </div>

      </body>

      <script>
        <!-- play video (torrent) event -->
        $('button[name="play"]').click(function(){
            $.getJSON( "/play", {url:$(this).attr('url'),subt:$(".subtChoice option:selected").val()});
        });
        <!-- show video (torrent) event -->
        $('button[name="show"]').click(function(){
            window.location.href=window.location.href+"/movie/"+$(this).attr('title');
            // $.getJSON( "/movie", {title:$(this).attr('title')});
        });
        $('button[name="stop"]').click(function(){
            $('span[name="current_play"]').text('');
            $.getJSON( "/stop");
        });
    </script>
</html>