<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Pop-Maïs Time</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" name="input" action="/" method="post" role="search">
        <select name="provider" class="form-control">
            <option value="movie">Films</option>
        </select>
        <div class="form-group">
          <input name="search" type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <p class="navbar-form navbar-right">
        <button type="button" name="stop" class="btn btn-default">
            <span class="glyphicon glyphicon-stop"></span> 
        </button>
      </p>
    </div>
  </div>
</nav>